.section {
    border-bottom: 2px solid black;
    display: flex;
}

.h1 {
    font-style: italic;
    font-size: large;
}

.p {
    padding-left: 950px;
    font-style: italic;
    font-size: small;
}

.button {
    color: blue;
    border: none;
    font-style: italic;
    background-color: white;
}
